.preview-list-item
{
    float:left;

    width: 220px; 
    height: 300px;

    margin:5px;

    border: 1px gray solid;
    background-color:#EFEFEF;

    position:relative;
}

    .preview-list-item .preview-image-container
    {
        width: 100%;
        height: 160px;
        padding: 5px 5px 10px 5px;

        border-bottom:1px dashed gray;

        text-align:center;
    }

        .preview-list-item .preview-image-container .preview-image {
            border:1px solid #000000;

            max-width:100%;
            max-height:100%;
        }

    .preview-list-item .handle-header-bar
    {
        cursor:pointer;

        border-bottom: 1px gray solid;

        background-color: #DDDDDD;
        height:26px;
        padding: 2px 0px 0px 5px;
    }

        .preview-list-item .handle-header-bar.selected
        {
            background-color: #999999;
        }
        
    .preview-list-item .details-box
    {
        padding:5px;
        font-size:9px;
    }

        .preview-list-item .details-box .row-label
        {
            font-weight:bolder;
        }

.directory-row
{
    background-image:url('../Images/Layout/folder32x32.png');
    background-repeat:no-repeat;
    background-position:5px 2px;

    height:36px;
    padding:10px 0px 0px 43px;

    border-bottom:1px solid gray;
}

    .directory-row a 
    {
        color:#000000;
    }

#input-box-container
{
    display:none;

    position:absolute;
    top:50px;
    left:50%;

    width:600px;
    height:500px;
    margin-left:-300px;
    padding:10px;

    border:2px #CCCCCC solid;
    background-color:#EEEEEE;
}

    #input-box-container .field-label
    {
        font-size:10px;
        font-weight:bolder;
    }

    #input-box-container input {
        border:0px;

        font-size:14px;
        padding:6px;

        width:100%;
        max-width:none;
    }